body {
	font-size: 14px;
	line-height: 1em;
	font-family: sans-serif;
	overflow: hidden;
}
form {
	position: absolute;
	bottom: .5em;
	right: .5em;
	width: 16em;
	padding: .25em .5em;
	border-radius: .25em;
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	grid-gap: 0.25ch 1ch;
	z-index: 2;
}
form > * {
	min-width: 0;
}